# =======================
# Terraform Specific
# =======================
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
crash.log

# Sensitive variables and credentials
*.tfvars
*.tfvars.json
*.env
credentials/
gcloud/
.aws/
.azure/

# =======================
# SSH Keys
# =======================
*.pem
*.key
*.pub
*.crt
*.der
id_rsa*
id_ed25519*

# =======================
# Go (Golang) Specific
# =======================
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Coverage outputs
*.out

# Go workspace files
go.work
go.work.sum

# Dependency directories
# Uncomment the next line if you vendor dependencies
# vendor/

# =======================
# Editor/System Files
# =======================
.DS_Store
*.swp
*.bak
*.log
*.tmp
.vscode/
.idea/
